# python and pip folders and files
bin/
include/
lib/
.Python
pip-selfcheck.json

# ignore selenium files
selenium/

# ignore files with scraoed data
scraped_data/

# ignore log files
*.log

# ignore mac system files
.DS_Store
